@model Zircon_Hobbies.Models.Gunpla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<input type="hidden" value="@Model.Id"/>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductionCompany.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionCompany.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="list-group-item"><a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@Model.Id" cite="btn btn-primary">Add to Cart</a></dt>

    </dl>
</div>
<div>
    @if(User.IsInRole("Admin")){
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <br />
    <a asp-action="Index">Back to List</a>
</div>
