@model Zircon_Hobbies.Models.GunplaViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Gundam Models</h1>

<form asp-controller="Gunplas" asp-action="Index" method="get">

    <p>
        <select asp-for="GunplaType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        <select asp-for="GunplaScale" asp-items="Model.Scale">
            <option value="">All</option>
        </select>

        <label>Name: <input type="text" onfocus="this.value=''" asp-for="SearchString"></label>
        <input type="submit" value="Filter"/>

    </p>    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gunplas![0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gunplas![0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scale)
            </th>
            <th>
               Brand
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gunplas![0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gunplas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scale)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ProductionCompany.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text> | </text>
                    }
                    
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
